.start_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    .adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;

        .logo_XL {
            margin-top: 70px;
            margin-bottom: 70px;
            width: 232px;
            height: 232px;
        }

        h2 {
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: "Bebas Neue";
            font-size: 20px;
            font-weight: 400;
        }

        .adress_card {
            margin-top: 42px;
            font-family: "Montserrat", system-ui;

            img {
                width: 256px;
            }

            h3, p {
                font-size: 16px;
                margin: 0;
            }

            h3 {
                font-weight: 600;
            }
        }
    }
}